* {
  font-family: "Oswald", sans-serif;
}

.bgScreen {
  background-image: linear-gradient(#0088cc, #2c3e50);
}

.loginBox {
  width: 27rem;
}

@media (max-width: 768px) {
  .loginBox {
    width: 23rem;
  }
}

.linebox-1 {
  width: 100px;
  height: 1px;
  background-color: black;
  margin-top: 20px;
  float: left;
}

.linebox-2 {
  width: 100px;
  height: 1px;
  background-color: black;
  float: right;
  margin-top: 20px;
}

/* .block{
  margin: 28px auto;
} */
